# 1. Frameworks Principales
streamlit
llama-index              
llama-index-core          

# 2. Conectores de Vector Stores (Base de Datos)
pinecone                  
llama-index-vector-stores-pinecone 

# 3. Modelos de Embeddings Gratuitos (Hugging Face)
sentence-transformers
llama-index-embeddings-huggingface 

# 4. Conectores de LLM (GEMINI)
google-generativeai
llama-index-llms-google-genai
#llama-index-llms-gemini      

# Dependencias opcionales que pueden ayudar
huggingface-hub
transformers

# 5. Utilidades y Procesamiento de Documentos
python-dotenv
pypdf